<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Bienvenidos a Inmuebles en Arriendo</h1>
    <p>Esta es la pagina de inicio.</p>

    <div class="button-container">
        <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary">Iniciar Sesión</a>
        <a href="{% url 'registrar' %}" class="btn btn-secondary">Registrarse</a>
    </div>

</body>
</html>