{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="inicio-content text-center">
    <h1 class="display-4">Bienvenidos a Inmuebles en Arriendo</h1>
    <p class="lead">Encuentra la propiedad perfecta para ti.</p>

    <!-- Sección principal -->
    <div class="welcome-section">
        <h2 class="display-5">Inmuebles en Arriendo</h2>
        <p class="lead">La mejor selección de propiedades al alcance de tu mano.</p>
        <a href="{% url 'lista_inmuebles' %}" class="btn btn-primary btn-lg">Ver Inmuebles</a>
    </div>

    <!-- Sección de botones -->
    <div class="button-container mt-4">
        <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary btn-lg">Iniciar Sesión</a>
        <a href="{% url 'registrar' %}" class="btn btn-secondary btn-lg">Registrarse</a>
    </div>
</div>
{% endblock %}