{% load static %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <!-- Carrusel -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-caption d-none d-md-block">
                    <a href="{% url 'lista_inmuebles' %}" class="btn btn-primary btn-lg">Ver Inmuebles</a>
                </div>
                <div class="carousel-item active">
                    <img src="{% static 'img/casa1.jpg' %}" class="d-block w-100" alt="casa">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/depto1.jpg' %}" class="d-block w-100" alt="departamento">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/parcela6.jpg' %}" class="d-block w-100" alt="parcela">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</nav>